<template>
  <div class= "main-main">
     <div class= "header">
         <div class= "content">
             
              <a href="#" class="explore">Explore Photos</a>
             <a  href="#" class= "find">
               Find a photographer</a>
            
            
              <img class="script" src="../assets/script.svg">
              <img class="script" src="../assets/notification.svg">
              <img class="script" src="../assets/message.png">
              <div class="avatar">
                 <img class="avatar-pic" src="../assets/avatar.svg">
              </div>
              <div class="dropdown">
  <button class="dropbtn">Ogenetega
       <img class="caret" src="../assets/caretdown.png">
  </button>
 
  
  <div class="dropdown-content">
    <a href="#">Profile</a>
    <a href="#">Settings</a>
    <a href="#">Logout</a>
  </div>
</div>
         </div>
     </div>
     <div class="bodye">
         <h3>Availability</h3>
         <div class='taskbar'>
             <div class="left-div">
                 <span class="span">
                    <img class="script" src="../assets/calendar.png">
                   Calender View</span>
                 <span class="span">
                    <img class="script" src="../assets/list.png">
                   List View</span>
             </div>
             <div class="right-div">
                          <div 
                 class="searchBox"
                 >
                   <input class="searchInput" type="text" name="" placeholder="Search">
                     <button class="searchButton" href="#">
                        <img class="search" src="../assets/search.png"/>
                     </button> 
                 </div>
              <button class="schedule">
                 + Add Schedule</button>
           
         </div>
             </div>
         

<div class="calendar-container">
  <div class="calendar-header">
    <h1>
       September
      <button>▾</button>
    </h1>
    <p>2019</p>
  </div>
  <div class="calendar"><span class="day-name">Mon</span><span class="day-name">Tue</span><span class="day-name">Wed</span><span class="day-name">Thu</span><span class="day-name">Fri</span><span class="day-name">Sat</span><span class="day-name">Sun</span>
    <div class="day day--disabled">26</div>
    <div class="day day--disabled">27</div>
    <div class="day day--disabled">28</div>
    <div class="day day--disabled">29</div>
    <div class="day day--disabled">30</div>
    <div class="day day--disabled">31</div>
    <div class="day">1</div>
    <div class="day2">2</div>
    <div class="day">3</div>
    <div class="day">4</div>
    <div class="day">5</div>
    <div class="day">6</div>
    <div class="day">7</div>
    <div class="day">8</div>
    <div class="day">9</div>
    <div class="day">10</div>
    <div class="day">11</div>
    <div class="day">12</div>
    <div class="day">13</div>
    <div class="day">14</div>
    <div class="day">15</div>
    <div class="day">16</div>
    <div class="day">17</div>
    <div class="day">18</div>
    <div class="day">19</div>
    <div class="day">20</div>
    <div class="day">21</div>
    <div class="day">22</div>
    <div class="day">23</div>
    <div class="day">24</div>
    <div class="day">25</div>
    <div class="day">26</div>
    <div class="day">27</div>
    <div class="day">28</div>
    <div class="day">29</div>
    <div class="day">30</div>
    <div class="day day--disabled">1</div>
    <div class="day day--disabled">2</div>
    <div class="day day--disabled">3</div>
    <div class="day day--disabled">4</div>
    <div class="day day--disabled">5</div>
    <div class="day day--disabled">6</div>
    <section class="task task--primary">Product Checkup 1
      <div class="task__detail">
        <h2>Product Checkup 1</h2>
        <p>11-13th September</p>
      </div>
    </section>
    <section class="task task--info">Product Checkup 2</section>
  </div>
</div>
     </div>
  </div>
</template>

<script>

export default {
 name: 'mainbar',
}
</script>

<style >
.main-main {
    width:80%;
    height: 100%;
    margin-left: 20%;
    background-color: rgb(255, 254, 203);
    
}
h3{
    margin: 0
}
.header {
    width: 100%;
    height: 7%;
    background-color: white;
    display: grid;
}
@media (min-width: 60%) {
  nav {
    grid-template-rows: none;
    grid-template-columns: 1fr auto auto;
    text-align: right;
    justify-items: start;
    border-bottom: 2px solid #CFCFCF;
  }}
.bodye {
  width: 100%;
 height: 93%;  
}
.content {
    float: right;
    display: flex;
    flex-direction: row;
    
}
.find {
    margin-left: 20px;
    margin-top: 15px;
}
.explore {
    margin-left: 10px;
    margin-top: 15px;
}
.script {
    margin-left: 15px;
    height: 20px;
    margin-top: 15px;
}
.avatar-pic {
    height:25px;
    width:24px;
    position: relative;
    background-color: rgb(184, 183, 183);
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 20px;
}
.script1 {
color:#ffffff
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.caret {
    background-color: transparent;
    width: 10px;
}
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f0a211;}

 .taskbar {
display: flex;
flex-direction: row;
width: 100%;
height: 8%;
} 
.left-div{
  display: flex;
  width: 50%;
}
.right-div{
  display: flex;
  width: 50%;
  right: 0;
}


.search{
    width:20px
}

span{
    margin-left: 20px
}

.searchBox {
    
  float: right;
    background: #ffffff;
    height: 40px;
    border-radius: 40px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}
.schedule{
    background-color: #f0a211;
    border:transparent;
    color: #ffffff;
    height: 40px;
}
a{
  color: #f0a211;
  text-decoration: none;
}

.calendar {
  display: grid;
  width: 100%;
  height:60%;
  grid-template-rows: 50px;
  grid-auto-rows: 120px;
  overflow: auto;
}
.calendar-container {
  width: 90%;
  height:60%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  max-width: 1200px;
}
.calendar-header {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
}
.calendar-header h1 {
  margin: 0;
  font-size: 18px;
}
.calendar-header p {
  margin: 5px 0 0 0;
  font-size: 13px;
  font-weight: 600;
  color: rgba(81, 86, 93, 0.4);
}
.calendar-header button {
  background: 0;
  border: 0;
  padding: 0;
  color: rgba(81, 86, 93, 0.7);
  cursor: pointer;
  outline: 0;
}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
 font-size: 22px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  pointer-events: none;
  z-index: 1;
}
.day2 {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 300;
  box-sizing: border-box;
  color: #ffffff;
  position: relative;
  pointer-events: none;
  z-index: 1;
  background-color: #fff384
}
.day:nth-of-type(7n + 7) {
  border-right: 0;
}
.day:nth-of-type(n + 1):nth-of-type(-n + 7) {
  grid-row: 2;
}
.day:nth-of-type(n + 8):nth-of-type(-n + 14) {
  grid-row: 3;
}
.day:nth-of-type(n + 15):nth-of-type(-n + 21) {
  grid-row: 4;
}
.day:nth-of-type(n + 22):nth-of-type(-n + 28) {
  grid-row: 5;
}
.day:nth-of-type(n + 29):nth-of-type(-n + 35) {
  grid-row: 6;
}
.day:nth-of-type(7n + 1) {
  grid-column: 1/1;
}
.day:nth-of-type(7n + 2) {
  grid-column: 2/2;
}
.day:nth-of-type(7n + 3) {
  grid-column: 3/3;
}
.day:nth-of-type(7n + 4) {
  grid-column: 4/4;
}
.day:nth-of-type(7n + 5) {
  grid-column: 5/5;
}
.day:nth-of-type(7n + 6) {
  grid-column: 6/6;
}
.day:nth-of-type(7n + 7) {
  grid-column: 7/7;
}
.day-name {
  font-size: 12px;
  text-transform: uppercase;
  color: #99a1a7;
  text-align: center;
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  line-height: 50px;
  font-weight: 500;
}
.day--disabled {
  color: rgba(152, 160, 166, 0.6);
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  cursor: not-allowed;
}

.task {
  border-left-width: 3px;
  padding: 8px 12px;
  margin: 10px;
  border-left-style: solid;
  font-size: 14px;
  position: relative;
}
.task--warning {
  border-left-color: #ffa238;
  grid-column: 4 / span 3;
  grid-row: 3;
  background: rgba(255, 205, 41, 0.7);
  align-self: center;
  color: #ffffff;
  margin-top: -5px;
}
.task--danger {
  border-left-color: #ffa238;
  grid-column: 2 / span 3;
  grid-row: 3;
  margin-top: 15px;
  background: rgba(255, 205, 41, 0.7);
  align-self: end;
  color: #ffffff;
}
.task--info {
  border-left-color: #ffa238;
  grid-column: 6 / span 2;
  grid-row: 5;
  margin-top: 15px;
  background: rgba(255, 205, 41, 0.7);
  align-self: end;
  color: #ffffff;
}
.task--primary {
  background: rgba(255, 205, 41, 0.7);;
  border: 0;
  border-radius: 4px;
  grid-column: 3 / span 3;
  grid-row: 4;
  align-self: end;
  color: #fff;
  box-shadow: 0 10px 14px rgba(71, 134, 255, 0.4);
}
.task__detail {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  background: #fff;
  border: 1px solid #ffa238;
  color: #000;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  z-index: 2;
}
.task__detail:after, .task__detail:before {
  bottom: 100%;
  left: 30%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.task__detail:before {
  border-bottom-color: rgba(166, 168, 179, 0.2);
  border-width: 8px;
  margin-left: -8px;
}
.task__detail:after {
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}
.task__detail h2 {
  font-size: 15px;
  margin: 0;
  color: #51565d;
}
.task__detail p {
  margin-top: 4px;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 500;
  color: rgba(81, 86, 93, 0.7);
}
</style>