<template>
  <div class="main-side">
  
  <a href="#" class="active">Dashboard</a>
  <a href="#">Profile</a>
  <a href="#">Pricing Package</a>
  <a href="#" class="active">Availability</a>
  <a href="#">Bookings</a>
  <a href="#">Portfolio</a>
  <a href="#">Albums</a>
  <a href="#">Subscription</a>
  <a href="#">Payment</a>
  <a href="#">Settings</a>

  </div>
</template>

<script>
export default {
  name: 'sidebar',

}
</script>

<style>
.main-side {
    background-color: rgb(36, 36, 39);
    width:20%;
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  overflow-x: hidden; 
  padding-top: 20px;
  height:100%;
  text-align: center;

}
.main-side a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #ffffff;
  display: block;
  margin-top: 20px
}

/* When you mouse over the navigation links, change their color */
.main-side a:hover {
  color: #ffc934;
}
.main-side a:active{
  color:#ffc934;
  background-color: #ffc934;
  border-left-width: 5px;
  border-left-color: #ffc934;
}
.main-side a:visted{
  color:#ffc934;
  background-color: #ffc934;
  border-left-width: 5px;
  border-left-color: #ffc934;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .main-side {padding-top: 15px;}
  .main-side a {font-size: 18px;}
}
</style>