<template>
  <div id="app">
  <SideBar/>
  <MainBar/>
  </div>
</template>

<script>
import SideBar from './components/SideBar.vue'
import MainBar from './components/MainBar.vue'

export default {
  name: 'app',
  components: {
    SideBar,
    MainBar
  }
}
</script>

<style>
#app {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: row;
 margin: 0;
 padding: 0;
 overflow: hidden;
}
</style>
